
.example-item{
    height:15vh;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
    background:#6b6b6b;
    width:100%;
}
.example-item img {
    height:10vh;
    margin:0.5vh;
    display: inline-block;
    vertical-align: middle;
}
.example-dialog-content {
    width:10vh;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    transform: scaleX(1);
    z-index: 5;
    position: absolute;
}
.example-dialog-content img {
    height:10vh;
}

 ::-webkit-scrollbar {
    width: 1.2vh;
}
 
 ::-webkit-scrollbar-track {
    background-color:gray;
    border-radius: 1vh;
}
 
 ::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background-color:pink;
}

.arrowright img, .arrowleft img{
    width:7vh;
    z-index:5;
    white-space: nowrap;
 
}
.arrowright{
    vertical-align: center;
    top:50%;
    z-index:99;
    right:0;
    position: absolute;
    
}
.arrowleft {
    vertical-align: center;
    top:50%;
    z-index:99;
    left:0;
    position: absolute;
}
.background-scroller{
    position: relative;
    padding: 0;
    margin:0;
    vertical-align: top;
}
.info {
    vertical-align: center;
    top:1vh;
    z-index:99;
    right:1vh;
    position: absolute;
}
.info img{
    width:7vh;
    z-index:5;
    white-space: nowrap;
}
@media only screen and (orientation:landscape){
.background img {
    margin: 0px auto;
    background-size: cover;
    width:100%;
} 
.background {
    z-index:-1;
    height:85vh;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
    position: relative;
    margin:0;
}
}

@media only screen and (orientation: portrait) {
    .background img {
        margin: 0px auto;
        background-size: cover;
        height:100%;
    } 
    .background {
        z-index:-1;
        height:85vh;
        overflow-x:hidden;
        overflow-y:hidden;
        white-space:nowrap;
        position: relative;
        margin:0;
    }

}