<div class="modal-header">
  <h4 class="modal-title">Keyboard Sticker Controls</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h6>Click on a sticker to make changes!</h6>
  <table class="table">
    <thead>
      <th>Action</th>
      <th>Key</th>
    </thead>
  <tr>
  <td>Increase / Decrease Sticker Size:</td><td> + / -</td>
</tr>
  <tr><td>Rotate Sticker Counterclockwise / Clockwise:</td><td> &lt; / &gt; </td></tr>
 <tr><td>Flip Sticker:</td><td> f </td></tr> 
  <tr><td>Delete Sticker:</td> <td>delete </td></tr>
</table>
</div>